@use '@/styles/scss' as *;

.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
	height: 100%;

	.searchSort {
		display: grid;
		grid-template-columns: [start] 24px [search-start] 1fr [search-end] 24px [end];
		gap: 5px;
		justify-items: center;

		.search {
			grid-column: search;
			max-width: 400px;
		}
	}

	.pagination {
		justify-content: end;
	}
}
