@use '@/styles/scss' as *;

.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
	min-height: 100%;

	.searchSort {
		display: grid;
		grid-template-columns: [start] 24px [search-start] 1fr [search-end] 24px [end];
		gap: 5px;
		justify-items: center;

		.search {
			grid-column: search;
			max-width: 400px;
		}
	}

	.postList {
		max-height: calc(100vh - 300px);
	}

	.pagination {
		justify-content: end;
	}
}

@media (width < 900px) and (width > 765px) {
	.wrapper {
		.searchSort {
			display: flex;
			justify-content: space-between;
		}
	}
}

@include for-size(miniPhone) {
	.wrapper {
		.searchSort {
			display: flex;
			justify-content: space-between;
		}
	}
}
