@use '@/styles/scss' as *;

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 5px;
	font-family: $font-family;
	border-right: 1px dotted $primary;

	@include font(18, 25);

	.item {
		display: flex;
		gap: 15px;
		align-items: center;
		color: $gray-dark;

		svg {
			fill: $gray-dark;
		}

		&.active,
		&:hover {
			color: $primary;

			svg {
				fill: $primary;
			}
		}
	}
}

.closed {
	display: none;
}
