@use '@/styles/scss' as *;

.horizontal {
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: $gray-light;
	border: none;
}

.vertical {
	border-left: 1px solid $gray-light;
}
