// colors
$primary: #1da1f2;
$primary-hover: #77beaf;
$background: #243447;
$background-lighter: #394859;
$background-darker: #141d26;
$blue: #007bfc;
$white: white;
$gray-light: #aab8c2;
$gray: #a4a4a4;
$gray-dark: #657786;

// fonts
$font-family: 'Roboto', sans-serif;
