@use '@/styles/scss' as *;

.wrapper {
	display: grid;
	grid-template:
		'. header header .' auto
		'. sidebar body .' 1fr
		'footer footer footer footer' auto
		/ auto 250px minmax(300px, 1200px) auto;
	gap: 40px 30px;
	min-height: 100vh;

	.header {
		grid-area: header;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.body {
		grid-area: body;
	}

	.footer {
		grid-area: footer;
	}

	&.closed {
		grid-template:
			'. header .' auto
			'. body .' 1fr
			'footer footer footer' auto
			/ auto minmax(320px, 1450px) auto;
		min-height: 100vh;

		.sidebar {
			display: none;
		}
	}
}

@include for-size(tablet) {
	.wrapper {
		grid-template-areas:
			'header'
			'sidebar'
			'footer';
		grid-template-columns: minmax(320px, 1fr);
		gap: 30px 40px;
		min-height: 100vh;

		.body {
			display: none;
		}

		&.closed {
			grid-template-areas:
				'header'
				'body'
				'footer';
			grid-template-columns: minmax(320px, 1fr);
			gap: 30px 40px;

			.sidebar {
				display: none;
			}

			.body {
				display: block;
			}
		}
	}
}
